<!DOCTYPE html>
<html>
<head>
    <title>Cruises</title>
</head>
<body>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Cruise Line</th>
        <th>Ship</th>
        <th>Type</th>
        <th>Departs</th>
        <th>Price</th>
        <th>Nights</th>
        <th>Price Per Night</th>
    </tr>
    {% for cruise in cruises %}
        <tr>
            <td><a href="https://cruises.affordabletours.com/search/itsd/cruises/{{cruise.id}}">{{cruise.id}}</a></td>
            <td>{{cruise.date}}</td>
            <td>{{cruise.line.name}}</td>
            <td>{{cruise.ship.name}}</td>
            <td>{{cruise.destination}}</td>
            <td>{{cruise.departs.name}}</td>
            <td>{{cruise.price}}</td>
            <td>{{cruise.nights}}</td>
            <td>{{cruise.price/cruise.nights}}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>